.game {
  box-sizing: border-box;

  position: relative;
  top: 50%;
  left: 50%;

  width: em(1230px);
  height: em(690px);

  margin-left: em(-615px);
  margin-top: em(-345px);

  background-color: #212325;

  @include breakpoint-mobile {
    display: table;

    top: auto;
    left: auto;

    width: 90%;
    height: 90%;

    margin: 0 5%;
  }
  &__content {
    box-sizing: border-box;
    float: left;

    position: relative;

    width: em(576px);
    height: em(576px);

    background: url('../images/grid.png') repeat 0 0;

    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5),
                0 0 20px 3px rgba(255, 255, 255, 0.02);
    border-radius: em(10px);

    z-index: 1;

    @include breakpoint-mobile {
      display: table-cell;
      float: none;

      top: 0;
      left: 0;

      width: 98vw;
      height: 88vw;

      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
  &--disabled {
    overflow: hidden;

    body {
      overflow: auto;

      max-height: 100%;
    }
    body:before {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      box-shadow: inset 0 0 15px 5px #243a31;
      background-color: rgba(32, 32, 32, 0.9);

      animation: overlayShowing 0.2s ease;

      z-index: 2;

      @keyframes overlayShowing {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
  &--winning,
  &--game-over {
    &:before {
      display: block;

      position: relative;

      padding-top: em(264px, 44px);
      padding-bottom: em(264px, 44px);

      border: 2px solid rgba(105, 105, 105, 0.4);
      background-color: rgba(45, 45, 45, 0.9);

      font-family: $font-stack-avenir-roman;
      font-size: em(44px);
      font-weight: bold;
      color: #fff;
      text-align: center;
      text-transform: uppercase;

      border-radius: em(10px, 44px);

      animation: overlayShowing 0.5s ease;

      z-index: 2;

      @include breakpoint-mobile {
        padding: 45% 0;

        font-size: 34px;
      }
      @keyframes overlayShowing {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
  &--winning:before {
    content: 'Winning!!!';
  }
  &--game-over:before {
    content: 'Game Over';
  }
}
