.game {
  &__buttons {
    position: absolute;
    top: em(630px);
    left: em(108px);

    padding-bottom: 1px;

    @include breakpoint-tablet {
      @include portraitOrientation() {
        position: relative;
        top: auto;
        left: auto;

        margin-top: 6%;
        padding-bottom: 2%;

        text-align: center;
      }
    }
    @include breakpoint-mobile {
      position: relative;
      top: auto;
      left: auto;

      margin-top: 7%;
      padding-bottom: 1%;

      text-align: center;
    }
    &-item {
      float: left;

      position: relative;

      width: em(100px);
      height: em(40px);

      margin-right: em(10px);

      list-style: none;

      border-radius: em(6px);

      opacity: 1;

      font-family: $font-stack-avenir-roman;
      font-size: em(18px);
      text-transform: lowercase;
      text-align: center;
      line-height: 2;

      z-index: 1;
      cursor: pointer;

      @include breakpoint-tablet {
        @include portraitOrientation() {
          display: inline-block;

          float: none;

          width: 20%;

          margin-right: 2%;
          padding: 10px;

          font-size: 18px;
          line-height: 1;

          &:last-child {
            margin-right: 0;
          }
        }
      }
      @include breakpoint-mobile {
        display: inline-block;

        float: none;

        width: 20%;

        margin-right: 2%;
        padding: 6px;

        font-size: 12px;
        line-height: 1;

        &:last-child {
          margin-right: 0;
        }
      }
      &--undo,
      &--undo.game__buttons-item--disabled:hover {
        position: relative;

        border: 1px solid rgba(84, 158, 201, 0.50);
        background-color: rgba(84, 158, 201, 0.10);

        color: #42748f;

        z-index: 1;

        transition: background-color ease 0.3s, color ease 0.3s;
      }
      &--undo:hover {
        background-color: #42748f;

        color: #fff;
      }
      &--restart {
        border: 1px solid rgba(211, 73, 73, 0.50);
        background: rgba(211, 73, 73, 0.10);

        color: #d34949;

        transition: background-color ease 0.3s, color ease 0.3s;

        &:hover {
          background-color: #d34949;

          color: #fff;
        }
        @include breakpoint-tablet {
          @include portraitOrientation() {
            &:hover {
              background: rgba(211, 73, 73, 0.10);

              color: #d34949;
            }
          }
        }
        @include breakpoint-mobile {
          &:hover {
            background: rgba(211, 73, 73, 0.10);

            color: #d34949;
          }
        }
      }
      &--instructions {
        width: em(142px);

        border: 1px solid rgba(83, 84, 85, 0.50);
        background: rgba(33, 35, 37, 0.10);

        color: #959595;

        transition: background-color ease 0.3s, color ease 0.3s;

        &:hover {
          background-color: #535455;

          color: #fff;
        }
        @include breakpoint-tablet {
          @include portraitOrientation() {
            width: 35%;

            &:hover {
              background: rgba(33, 35, 37, 0.10);

              color: #959595;
            }
          }
        }
        @include breakpoint-mobile {
          width: 35%;

          &:hover {
            background: rgba(33, 35, 37, 0.10);

            color: #959595;
          }
        }
      }
      &--disabled {
        opacity: 0.3;

        cursor: default;
      }
    }
  }
}
