.game {
  &__instructions {
    visibility: visible;

    position: fixed;
    top: 50%;
    left: 50%;

    width: em(1000px);

    margin-left: em(-500px);
    padding-bottom: em(85px);
    padding-top: em(76px);
    padding-left: em(120px);
    padding-right: em(120px);

    border: 1px solid #6D7579;
    background-color: #272C2E;

    opacity: 0.9;

    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.02);
    border-radius: em(5px);

    transform: translateY(-50%);

    animation: confirmShowing 0.2s ease;

    z-index: 100;

    @keyframes confirmShowing {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &-title {
      margin-bottom: em(15px, 14px);

      font-family: $font-stack-avenir-roman;
      font-size: em(14px);
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.2em;

      &--general {
        font-size: em(36px);
        text-align: center;

        &:after {
          content: "";

          display: block;

          width: em(117px, 36px);
          height: em(4px, 36px);

          margin: 0 auto;
          margin-top: em(15px, 36px);
          margin-bottom: em(25px, 36px);

          background-color: #3d4042;
        }
      }
    }
    &-text {
      font-family: $font-stack-avenir-roman;
      font-size: em(16px);
      color: #939596;
      line-height: 1.35;

      span {
        font-weight: bold;
        font-style: italic;
      }
      &--general {
        width: em(375px, 16px);

        margin: 0 auto;
        margin-bottom: em(95px, 16px);

        text-align: center;
      }
    }
    &-moving {
      float: left;
      position: relative;

      width: 35%;

      &-tiles {
        margin-top: em(75px);
      }
    }
    &-tile {
      float: left;
      display: block;

      margin-right: em(5px);
      padding: em(5px);

      width: em(41px);
      height: em(41px);

      border: 1px solid #565859;
      border-radius: em(7px);

      &:last-child {
        margin-right: 0;
      }
      &--left {
        background: url('../images/arrow.png') no-repeat 50% 50%;

        transform: rotate(90deg);
      }
      &--right {
        background: url('../images/arrow.png') no-repeat 50% 50%;

        transform: rotate(-90deg);
      }
      &--bottom {
        background: url('../images/arrow.png') no-repeat 50% 50%;

        &:before {
          content: '';
          display: block;

          position: relative;
          bottom: em(55px);
          right: em(6px);

          width: em(40px);
          height: em(40px);

          background: url('../images/arrow.png') no-repeat 50% 50%;
          border: 1px solid #565859;

          border-radius: em(7px);

          transform: rotate(-180deg);
        }
      }
    }
    &-earning {
      margin-left: 45%;

      &-tiles {
        display: block;

        height: em(52px);
        width: em(145px);

        margin-top: em(45px);
        margin-bottom: em(15px);
        padding: em(5px);
        padding-right: 0;

        border: 1px solid #939596;

        border-radius: em(7px);
      }
    }
    &-score {
      margin-bottom: em(15px);

      font-family: $font-stack-avenir-roman;
      font-size: em(14px);
      color: #939596;
      text-transform: uppercase;
      line-height: 1.35;
      letter-spacing: 0.2em;
    }
    &-button {
      position: relative;
      bottom: em(-35px);
      left: 50%;

      width: em(80px);
      height: em(35px);

      margin-left: em(-40px);

      border: 1px solid rgba(83, 84, 85, 0.50);
      background-color: #272C2E;

      color: #535455;
      font-family: $font-stack-avenir-roman;
      font-size: em(18px);
      text-transform: lowercase;
      text-align: center;
      line-height: 1;

      border-radius: em(6px);

      cursor: pointer;

      &:hover {
        background-color: #535455;

        color: #fff;
      }
    }
  }
}
