.game {
  &__modes {
    position: relative;

    width: 100%;
    height: em(180px);

    margin-top: em(75px);

    list-style: none;

    @include breakpoint-mobile {
      height: auto;

      margin-top: 5%;
      margin-bottom: 2%;
    }
    &:before {
      content: 'game mode';

      position: absolute;
      top: em(-30px, 12px);
      left: 0;

      font-family: $font-stack-avenir-roman;
      font-size: em(12px);
      color: #aaaaaa;
      line-height: em(16px, 12px);
      letter-spacing: em(4.59px, 12px);
      text-transform: uppercase;

      @include breakpoint-mobile {
        top: -32%;

        font-size: 7px;
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &-item {
      float: left;

      position: relative;

      width: em(160px);
      height: em(160px);

      margin-left: em(20px);
      padding: em(18px);

      border: 3px solid rgba(255, 255, 255, 0.01);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.004) 0%, rgba(0, 0, 0, 0.022) 100%);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.02);
      border-radius: em(10px);

      opacity: 1;

      font-family: $font-stack-avenir-roman;

      cursor: pointer;

      &:nth-child(1) {
        margin-left: 0;
      }
      @include breakpoint-mobile {
        width: 31%;
        height: auto;

        margin-left: 3%;
        padding: 2% 2% 1%;

        border-radius: 6px;
      }
      &--easy &-count {
        color: #e0d955;
      }
      &--medium &-count {
        color: #549fc9;
      }
      &--hard &-count {
        color: #d34949;
      }
      &:hover &-title,
      &:hover &-label {
        opacity: 1;

        color: #fff;

        transition: opacity 0.3s ease-out;

        @include breakpoint-mobile {
          transition: none;
        }
      }
      &-title {
        opacity: 0.1;

        font-size: em(20px);
        font-weight: bold;
        color: #fff;
        letter-spacing: em(2px, 20px);
        text-transform: uppercase;

        @include breakpoint-mobile {

          font-size: 10px;
        }
      }
      &-label {
        margin-top: em(80px);

        opacity: 0.1;

        font-size: em(12px);
        color: #fff;

        @include breakpoint-mobile {
          margin-top: 2%;

          font-size: 8px;
        }
      }
      &-count {
        margin-top: em(10px);

        font-size: em(24px);
        font-weight: bold;

        @include breakpoint-mobile {
          margin-top: 4%;

          font-size: 12px;
        }
      }
      &--active {
        opacity: 1;

        cursor: default;
      }
      &--active.game__modes-item--easy {
        border: 1px solid #e0d955;
      }
      &--active.game__modes-item--medium {
        border: 1px solid #549fc9;
      }
      &--active.game__modes-item--hard {
        border: 1px solid #d34949;
      }
      &--active &-title,
      &--active &-label {
        opacity: 1;

        color: #fff;
      }
    }
  }
}
