.game {
  &__modes {
    position: relative;

    width: 100%;
    height: em(180px);

    margin-top: em(75px);

    list-style: none;

    &:before {
      content: 'game mode';

      position: absolute;
      top: em(-30px, 12px);
      left: 0;

      font-family: $font-stack-avenir-roman;
      font-size: em(12px);
      color: #aaaaaa;
      line-height: em(16px, 12px);
      letter-spacing: em(4.59px, 12px);
      text-transform: uppercase;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &-item {
      float: left;

      position: relative;

      width: em(160px);
      height: em(160px);

      margin-left: em(20px);

      border: 3px solid rgba(255, 255, 255, 0.01);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.004) 0%, rgba(0, 0, 0, 0.022) 100%);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.02);
      border-radius: em(10px);

      opacity: 1;

      font-family: $font-stack-avenir-roman;

      cursor: pointer;

      &:nth-child(1) {
        margin-left: 0;
      }
      &--easy &-count {
        color: #e0d955;
      }
      &--medium &-count {
        color: #549fc9;
      }
      &--hard &-count {
        color: #d34949;
      }
      &:hover &-title,
      &:hover &-label {
        opacity: 1;

        color: #fff;

        transition: opacity 0.3s ease-out;
      }
      &-title {
        position: absolute;
        top: em(15px, 20px);
        left: em(20px, 20px);

        opacity: 0.1;

        font-size: em(20px);
        font-weight: bold;
        color: #fff;
        line-height: em(25px, 20px);
        letter-spacing: em(2px, 20px);
        text-transform: uppercase;
      }
      &-label {
        position: absolute;
        top: em(85px, 12px);
        left: em(20px, 12px);

        opacity: 0.1;

        font-size: em(12px);
        color: #fff;
        line-height: em(28.79px, 12px);
      }
      &-count {
        position: absolute;
        top: em(115px, 24px);
        left: em(20px, 24px);

        font-size: em(24px);
        font-weight: bold;
        line-height: em(28.79px, 24px);
      }
      &--active {
        opacity: 1;

        cursor: default;
      }
      &--active.game__modes-item--easy {
        border: 1px solid #e0d955;
      }
      &--active.game__modes-item--medium {
        border: 1px solid #549fc9;
      }
      &--active.game__modes-item--hard {
        border: 1px solid #d34949;
      }
      &--active &-title,
      &--active &-label {
        opacity: 1;

        color: #fff;
      }
    }
  }
}
