.game {
  &__sidebar {
    float: left;
    position: relative;

    width: em(576px);
    height: em(576px);

    padding-left: em(50px);
    padding-top: em(100px);

    @include breakpoint-mobile {
      display: table-header-group;
      float: none;

      width: 100%;
      height: auto;

      padding-left: 0;
      padding-top: 0;
    }
  }
  &__scoreboard {
    position: relative;

    height: em(100px);

    font-family: $font-stack-avenir-roman;

    @include breakpoint-mobile {
      height: auto;

      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    &:before {
      content: 'current score';

      font-size: em(12px);
      color: #aaaaaa;
      letter-spacing: em(4.59px, 12px);
      text-transform: uppercase;

      @include breakpoint-mobile {
        font-size: 8px;
      }
    }
    &-count {
      position: relative;

      padding-top: em(10px, 90px);

      font-size: em(90px);
      color: #37c97c;

      @include breakpoint-mobile {
        font-size: 30px;

        padding-top: 0;
      }

      p {
        float: left;

        position: relative;

        transform: translateY(0) scale(1, 1);

        &:before {
          content: attr(data-value);

          float: left;
        }
        &:after {
          content: attr(data-to-next-value);

          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      &--increase > p[data-to-next-value] {
        &:before {
          opacity: 0;

          animation: increaseDisappearDigitalsAnimation $increaseScoreAnimationDuration cubic-bezier(0.25, 0.1, 0.25, 0.1);

          @keyframes increaseDisappearDigitalsAnimation {
            0% {
              opacity: 1;

              transform: translateY(0) scale(1, 1);
            }
            50% {
              opacity: 0.4;

              transform: translateY(20%) scale(0.8, 0.8);
            }
            100% {
              opacity: 0;

              transform: translateY(40%) scale(0.6, 0.6);
            }
          }
        }
        &:after {
          animation: increaseAppearDigitalsAnimation $increaseScoreAnimationDuration cubic-bezier(0.25, 0.1, 0.25, 0.1);

          @keyframes increaseAppearDigitalsAnimation {
            0% {
              opacity: 0;

              transform: translateY(-40%) scale(0.6, 0.6);
            }
            50% {
              opacity: 1;

              transform: translateY(-20%) scale(0.8, 0.8);
            }
            100% {
              opacity: 1;

              transform: translateY(0) scale(1, 1);
            }
          }
        }
      }
      &--decrease {
        > p[data-to-next-value] {
          &:before {
            opacity: 0;

            animation: decreaseDisappearDigitalsAnimation $generalAnimationDuration cubic-bezier(0.25, 0.1, 0.25, 0.1);

            @keyframes decreaseDisappearDigitalsAnimation {
              0% {
                opacity: 1;

                transform: translateY(0) scale(1, 1);
              }
              25% {
                opacity: 0.4;
              }
              50% {
                opacity: 0;
              }
              100% {
                opacity: 0;
              }
            }
          }
          &:after {
            animation: decreaseAppearDigitalsAnimation $generalAnimationDuration cubic-bezier(0.25, 0.1, 0.25, 0.1);

            @keyframes decreaseAppearDigitalsAnimation {
              0% {
                opacity: 0;

                transform: translateY(40%) scale(0.6, 0.6);
              }
              50% {
                opacity: 1;

                transform: translateY(20%) scale(0.8, 0.8);
              }
              100% {
                opacity: 1;

                transform: translateY(0) scale(1, 1);
              }
            }
          }
        }
      }
    }
  }
}
