* {
  box-sizing: border-box;
}

html,
html body {
  width: 100%;
  height: 100%;

  background-color: #212325;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: @fontSize;
}

body {
  overflow: hidden;
}

#is_mobile {
  display: none;
  visibility: hidden;
}
