* {
  box-sizing: border-box;
}

html,
html body {
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: #212325;

  font-size: $fontSize;

  @include font-smoothing(on);
}

body {
  overflow: hidden;
}

#is_mobile {
  display: none;
  visibility: hidden;

  @include breakpoint-mobile {
    display: block;
  }
}
#is_tablet {
  display: none;
  visibility: hidden;

  @include breakpoint-tablet {
   @include portraitOrientation() {
      display: block;
    }
  }
}

.iphone4 {
  body {
    opacity: 0;
  }
  &:before {
    content: 'Sorry, but we don\'t support your device, because it has a low resolution. Please try another device. Thanks!';
    display: block;
    
    position: fixed;
    top: 50%;
    left: 50%;

    width: 90%;

    margin-left: -45%;

    font-size: 22px;
    font-family: $font-stack-avenir-roman;
    color: #fff;
    line-height: 1.35;
    text-align: center;

    transform: translateY(-50%);
  }
}

.landscape {
  body {
    opacity: 0;
  }
  &:before {
    content: 'Sorry, but we don\'t support landscape orientation. Please turn left/right you device 90 degrees (in portrait orientation). Thanks!';
    display: block;

    position: fixed;
    top: 50%;
    left: 50%;

    width: 90%;

    margin-left: -45%;

    font-size: 22px;
    font-family: $font-stack-avenir-roman;
    color: #fff;
    line-height: 1.35;
    text-align: center;

    transform: translateY(-50%);
  }
}
