$font-stack-avenir-roman: "Avenir Roman", Helvetica, Arial, sans-serif;
$fontSize: 18px;
$generalAnimationDuration: 0.3s;
$removeAnimationDuration: 0.3s;
$increaseScoreAnimationDuration: $generalAnimationDuration/3;
$mobileMaxWidth: 767px;
$tabletMaxWidth: 991px;
