.game {
  &__confirm {
    visibility: visible;

    position: fixed;
    top: 50%;
    left: 50%;

    width: em(380px);

    margin-left: em(-190px);
    padding-bottom: em(36px);

    border: 1px solid #6D7579;
    background-color: #272C2E;

    opacity: 0.9;

    text-align: center;

    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.02);
    border-radius: em(5px);

    transform: translateY(-50%);

    animation: confirmShowing 0.2s ease;

    z-index: 100;

    @include breakpoint-mobile {
      width: 70%;

      margin-left: -35%;
      padding-bottom: 5%;
    }
    @keyframes confirmShowing {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &-text {
      margin: em(42px) em(40px) em(20px);

      font-family: $font-stack-avenir-roman;
      font-size: em(18px);
      color: #fff;
      line-height: em(24px);

      @include breakpoint-mobile {
        margin: 10% 10% 5%;

        font-size: 12px;
      }
      &-game-over  {
        font-family: $font-stack-avenir-roman;
        font-size: em(28px);
        color: #fff;
        font-weight: bold;
        line-height: em(46px, 28px);

        @include breakpoint-mobile {
          font-size: 20px;
        }
      }
    }
    &-button {
      padding: em(6px) em(28px);

      opacity: 1;

      font-family: $font-stack-avenir-roman;
      font-size: em(18px);
      text-transform: lowercase;
      text-align: center;
      line-height: 1;

      border-radius: em(6px);

      cursor: pointer;

      @include breakpoint-mobile {
        padding: 2% 5%;

        font-size: 12px;
      }
      &--no {
        margin-right: em(4px);

        border: 1px solid rgba(211, 73, 73, 0.50);
        background: rgba(211, 73, 73, 0.10);

        color: #d34949;

        &:hover {
          background-color: #d34949;

          color: #fff;
        }
        @include breakpoint-mobile {
          &:hover {
            background: rgba(211, 73, 73, 0.10);

            color: #d34949;
          }
        }
      }
      &--yes {
        margin-left: em(4px);

        border: 1px solid rgba(84, 158, 201, 0.50);
        background-color: rgba(84, 158, 201, 0.10);

        color: #42748f;

        &:hover {
          background-color: #42748f;

          color: #fff;
        }
        @include breakpoint-mobile {
          &:hover {
            background-color: rgba(84, 158, 201, 0.10);

            color: #42748f;
          }
        }
      }
    }
  }
}
