.game {
  &__confirm {
    visibility: visible;

    position: fixed;
    top: 50%;
    left: 50%;

    width: em(400px);

    margin-left: em(-200px);
    padding-bottom: em(36px);

    border: 1px solid #6D7579;
    background-color: #272C2E;

    opacity: 0.9;

    text-align: center;

    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.02);
    border-radius: em(5px);

    transform: translateY(-50%);

    animation: confirmShowing 0.2s ease;

    z-index: 100;

    @keyframes confirmShowing {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &-text {
      height: em(100px);

      margin-top: em(42px);
      margin-left: em(40px);
      margin-right: em(40px);

      font-family: $font-stack-avenir-roman;
      font-size: em(18px);
      color: #fff;
      line-height: em(24px);
    }
    &-button {
      min-width: em(80px);
      height: em(40px);
      
      padding-left: em(10px);
      padding-right: em(10px);

      opacity: 1;

      font-family: $font-stack-avenir-roman;
      font-size: em(18px);
      text-transform: lowercase;
      text-align: center;
      line-height: 2;

      border-radius: em(6px);

      cursor: pointer;

      &--no {
        margin-right: em(4px);

        border: 1px solid rgba(211, 73, 73, 0.50);
        background: rgba(211, 73, 73, 0.10);

        color: #d34949;

        &:hover {
          background-color: #d34949;

          color: #fff;
        }
      }
      &--yes {
        margin-left: em(4px);

        border: 1px solid rgba(84, 158, 201, 0.50);
        background-color: rgba(84, 158, 201, 0.10);

        color: #42748f;

        &:hover {
          background-color: #42748f;

          color: #fff;
        }
      }
    }
  }
}
